{% extends "bootstrap/base.html" %}
{% block title %}Student Portal{% endblock %}

{{ super() }}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
            </button>
            <img class="bg-img" src="/static/logoWpng.png" height='10%' width="10%" style='float:left'>
            <a class="navbar-brand" href="{{ url_for('stu_profile', username=current_user.username) }}" style="margin-top:10px; color:white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:45px">Appliable</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="color:white; font-family:Arial, Helvetica, sans-serif; word-spacing:1px; letter-spacing:-1px; font-size:17px;">
				<li><a href="{{ url_for('stu_profile', username=current_user.username) }}">My Profile</a></li>
                <li><a href="/stu_update">Update Profile</a></li>
                <li><a href="/stu_display_listings">Opportunities</a></li>
                <li><a href="/stu_my_listings">My Applications</a></li>
				<li><a href="/stu_direct">Directories</a></li>
				<li><a href="/logout">Log Out</a></li>
                <li>
                    <form method='POST' action="{{url_for('search')}}" class="row searchFilter">
                        {{ form.hidden_tag() }}
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input id="table_filter" type="text" class="form-control" placeholder="Search by name"
                                    name="searched" aria-label="Text input with segmented button dropdown">
                                <div class="input-group-btn">
                                    <button id="searchBtn" type="submit" class="btn btn-secondary btn-search"><span
                                            class="glyphicon glyphicon-search">&nbsp;</span> <span
                                            class="label-icon">Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}