{% extends "stu_base.html" %}
{% block title %}Student Portal{% endblock %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/listings_css.css') }}">
<form action="" method="post">
    <table class="liListstable">
        <tr>
            <th class="liListsth"><h1 class="liListsh1">Forum Posts</h1></th>
        </tr>
    <form action="" method="post">
        <tr>
        <td class="liListstd">
            {% for entry in cur %}
                <li class="liHeading"><h2 class="liListsh2">{{ entry.title }}</h2></li>
                <li class="liLists">{{ entry.phone }}</li>
                <li class="liLists">{{ entry.email }}</li>
                <li class="liLists">{{ entry.text }}</li>
                <li class="liLists">{{ entry.user_name }}</li>
                <li class="liLists">{{ entry.datetime }}</li>
                <hr>
                <div class="liButton">
                <input class="button" style="border-color:black; background-color:white; border-radius:5px;" type="submit" value="Apply to Listing {{entry.id}}", name="apply">
                </div>
                <hr>
            {% endfor %}
        </td></tr>
    </form>
</table>
{% endblock %}

